.pl-0 {
    padding-left: 0 !important;
}

.pr-0 {
    padding-right: 0 !important;
}

.mb-15 {
    margin-bottom: 15px !important;
}

.d-block {
    display: block !important;
}

.text-15 {
    font-size: 15px !important;
    line-height: 1.8 !important;
}
