<div class="ui hidden divider"></div>
<h4 class="ui top attached large header">{{ 'bitbag.sulu_plugin.sulu_config'|trans }}</h4>
<div class="ui attached segment">
    {{ form_row(form.suluUseLocalizationUrl) }}
</div>
